<ion-header>
  <ion-navbar color="ASI-Teal">
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>Old Password</ion-label>
			<ion-input
			[ngModel]="oldPassword"
			(ngModelChange)="oldPassword = $event"
			type="password"
			value=""
			class="validate"
			required>
			</ion-input>
      <ion-icon name="ios-close" item-right *ngIf="passwordIncorrect" color="ASI-Red"></ion-icon>
  </ion-item>
  <div *ngIf="passwordIncorrect" style="color: #FF7043" padding>Old Password incorrect</div>

  <ion-item>
    <ion-label stacked>New Password</ion-label>
			<ion-input
			[ngModel]="newPassword"
			(ngModelChange)="onChangeNew($event)"
			type="password"
			value=""
			class="validate"
			required>
			</ion-input>
      <ion-icon name="ios-checkmark" color="secondary" *ngIf="matched" item-right></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label stacked>Confirm New Password</ion-label>
			<ion-input
			[ngModel]="confirmPassword"
			(ngModelChange)="onChange($event)"
			type="password"
			value=""
			class="validate"
			required>
			</ion-input>
      <ion-icon name="ios-checkmark" color="secondary" *ngIf="matched" item-right></ion-icon>
  </ion-item>
  <button ion-button block color="ASI-Teal" (tap)="submit()" [disabled]="!matched">Save</button>
</ion-content>
