<ion-header>
  <ion-navbar color="ASI-Teal">
    <ion-title>Password Reset</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list>
		<ul *ngIf="dataView[2]['flag']" style="margin-top:30px;">
			<li *ngIf="password_flags[0]">Password Should be At least 8 characters long</li>
			<li *ngIf="password_flags[1]">It must have one number</li>
			<li *ngIf="password_flags[2]">It must have one alphabet</li>
			<li>Please Do not use common passowrds i.e "abcd" or "password" etc</li>
		</ul>
		<div *ngFor="let data of dataView" >
		<ion-item *ngIf="data.flag">
		<ion-label floating>{{data.title}}</ion-label>
	    <ion-input 
	    	[ngModel]="getProp(data.bindTo)" 
    		(ngModelChange)="setProp(data.bindTo, $event)"
	    	type="{{data.type}}" 
	    	value=""
	    	class="validate"
	    	required>
	    </ion-input>
	    </ion-item>
		</div>

	</ion-list>
	
	<div *ngFor="let error of frontEndError">
		<p *ngIf="error != '' " class="errorInSignUp">{{error}}</p>
	</div>
	
	<div padding>
		<button *ngIf="dataView[0]['flag']" ion-button (tap)="emailSend()" color="ASI-Teal" block>Send Email</button>
		<button *ngIf="dataView[1]['flag']" ion-button (tap)="pinVerify()" color="ASI-Teal" block>Verify PIN</button>
		<button *ngIf="dataView[2]['flag']" ion-button (tap)="passwordVerify()" color="ASI-Teal" block>Change Password</button>
	</div>
	<p *ngIf="successMessage != '' " class="errorInSignUp">{{successMessage}}</p>
</ion-content>
